<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="tws.repository.ParkingBoyMapper">
    <select id="getParkingBoy" resultType="tws.entity.ParkingBoy">
        select * from `parkingBoy`;
    </select>
    <insert id="insert" parameterType="tws.entity.ParkingBoy">
       insert into `parkingBoy` (`id`,`name`,`age`)values (#{parkingBoy.employeeID},#{parkingBoy.name},#{parkingBoy.age});
    </insert>
</mapper>
